# Build files
build/
dist/
*.spec

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
develop-eggs/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual environments
venv/
env/
ENV/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Office temporary files
~$*
*.tmp
.~lock.*

# Project specific
download_path.tmp
*.mp4
*.jpg
*.png
*.mkv
*.webm
*.avi
*.mov


# Config files (user-specific)
config.json
*.log
app.log.*

*.pyc
# python venv folders
pyvenv.cfg
__pypackages__/
share/
Scripts/
bin/
code/ui/main_ui.py
code/ui/main2_ui.py
code/ui/main2.ui
code/devauth.py